// scale-up
.scale-up-enter-from,  .scale-up-leave-to{
    transform: scale(0.5);
    opacity: 0;
}
.scale-up-enter-to, .scale-up-leave-from {
    transform: scale(1);
    opacity: 1;
}
.scale-up-enter-active, .scale-up-leave-active {
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

// scale-rotate-up

.scale-rotate-up-enter-from,  .scale-rotate-up-leave-to{
    transform: scale(0.5) rotateZ(180deg);
    opacity: 0;
}
.scale-rotate-up-enter-to, .scale-rotate-up-leave-from {
    transform: scale(1 rotateZ(360deg));
    opacity: 1;
}
.scale-rotate-up-enter-active, .scale-rotate-up-leave-active {
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}