// slide-right
.slide-right-enter-from,  .slide-right-leave-to{
    transform: translate(100px);
    opacity: 0;
}
.slide-right-enter-to, .slide-right-leave-from {
    transform: translate(0);
    opacity: 1;
}
.slide-right-enter-active, .slide-right-leave-active {
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

// slide-left
.slide-left-enter-from,  .slide-left-leave-to{
    transform: translate(-100px);
    opacity: 0;
}
.slide-left-enter-to, .slide-left-leave-from {
    transform: translate(0);
    opacity: 1;
}
.slide-left-enter-active, .slide-left-leave-active {
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

// slide-top
.slide-top-enter-from,  .slide-top-leave-to{
    transform: translateY(-100px);
    opacity: 0;
}
.slide-top-enter-to, .slide-top-leave-from {
    transform: translate(0);
    opacity: 1;
}
.slide-top-enter-active, .slide-top-leave-active {
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

// slide-bottom
.slide-bottom-enter-from,  .slide-bottom-leave-to{
    transform: translateY(100px);
    opacity: 0;
}
.slide-bottom-enter-to, .slide-bottom-leave-from {
    transform: translate(0);
    opacity: 1;
}
.slide-bottom-enter-active, .slide-bottom-leave-active {
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}