@import 'element-plus/theme-chalk/src/loading.scss'; // 修复service方式调用el-loading没有样式问题

html {
  .el-menu-item.is-active {
    background: #000;
    color: #f1f1f1;
  }
}

// 暗黑模式
html.dark {
  .el-menu-item.is-active {
    background: #fff;
    color: #000;
  }
}
